@import ./variables
@import ../../node_modules/bootstrap/scss/bootstrap-utilities

body
    font-family: $font-family-primary

.ff-1
    font-family: $font-family-primary

.ff-2
    font-family: $font-family-secondary

.bg-main
    background: url("../img/main_bg.jpg")

@import ./components
@import ./pages/header
@import ./pages/menu
@import ./pages/chef
@import ./pages/book
@import ./pages/testimonials
@import ./pages/contact
@import ./pages/footer