<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>Randomizer</title>
</head>
<body>
    <div id="app">
        <h1 class="title">
            <img class="vue-logo" src="https://vuejs.org/images/logo.png" />
            Randomizer
        </h1>
        <div class="btn-div">
            <button v-if="isStarting" @click="onReset" class="btn btn-reset">
                Reset <i class="fas fa-undo"></i>
            </button>
            <button v-if="!isTerminate" @click="onRandom" class="btn btn-random">
                Random <i class="fas fa-random"></i>
            </button>
        </div>
        <div id="list" :key="index">
            <div @click="onSwitch(name)" v-for="name in list" class="box" v-bind:class="{ active: isActive(name), deactivate: isDeactivate(name), chosen: isChosen(name) }">
                <span class="name">{{name}}</span>
            </div>
        </div>
        <div>
            <p class="resultat" v-if="chosen">Le randomizer a choisi <span class="chosen-text">{{chosen}}</span></p>
        </div>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
</body>
</html>