.slider {
    overflow-x: hidden;
    position: relative;
}

.slider-inner {
    transition: transform 0.33s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.slider img {
    width: 50%;
    display: block;
    margin: auto;
}

.slider-item {
    flex: 0 0;
    flex-basis: 33%;
}

.slider-indicators {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    display: flex;
}

.slider-indicators li {
    list-style: none;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background-color: #fff;
    cursor: pointer;
    opacity: 0.5;
    margin: 0 10px;
    border-radius: 100% !important;
}

.slider-indicators li.active {
    opacity: 1;
    background-color: black;
}
