#footer-bottom
    .footer-content
        padding-top: 30px
        background: url("../img/footer_background.jpg") top
        border-top: 20px solid transparent
        border-image: url('../img/footer_bottom_decoration_img.png') 30 round
        background-size: cover
        font-size: 0.9rem
        h4
            text-transform: uppercase
        .badge
            border-radius: 100px
            font-size: 0.8rem
            padding: 10px 18px
            margin: 5px 4px
            font-size: 0.9rem
            border: solid 1px white
        ul
            padding: 0
            list-style: none
            font-size: 1.5rem
            li
                margin: 0 15px
