.icon-skill {
    width: 42px;
    position: relative;
    z-index: 10;
}

.progress {
    margin-bottom: 10px;
    height: 20px;
    /* border: solid 1px black; */
    border-radius: 0px;
}

.progress-skill {
    background-color: $primary !important;
}

.progress-skill-gold {
    background-color: gold !important;
}

.skill-rank {
    font-size: 27px;
    font-weight: bold;
}
