@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");

html,
body,
#app {
    height: 100%;
    background: ghostwhite;
    position: relative;
    margin: 0;
}

.title {
    font-family: Roboto Slab, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0 !important;
    font-weight: 300;
    font-size: 3rem;
}

.chosen-text {
    color: #dc143c;
    font-weight: 700;
}

.vue-logo {
    height: 55px;
    position: relative;
    top: 10px;
}

#list {
    margin: 20px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-div {
    margin: 0 auto;
    text-align: center;
}

.btn {
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    background-color: #00d1b2;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px 8px;
}

.btn-reset {
    background-color: rgba(255, 255, 255, 0);
    color: #00d1b2;
    border-color: #00d1b2;
}

.box {
    cursor: pointer;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    color: #4a4a4a;
    border-radius: 2px;
    background-color: #fff;
    width: 150px;
    height: 110px;
    margin: 10px 15px;
    border-radius: 2px;
    position: relative;
}

.name {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.resultat {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: block;
    text-align: center;
    font-family: Roboto Slab, sans-serif;
    font-size: 2rem;
}

.active {
    background-color: gold;
    color: black;
}

.chosen {
    background-color: #00d1b2;
    color: white;
}

.deactivate {
    background-color: #dc143c;
    color: white;
}
