/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #fff;
    position: fixed;
    overflow: auto;
    z-index: 6;
}

.header-section .logo {
    float: none;
    padding-bottom: 30px;
}

.header-section .menu-list {
    float: none;
}

.header-section .menu-list li {
    display: block;
}

.header-section .menu-list li a {
    margin-right: 0px;
}

.header-section .menu-list li.active a {
    width: 60%;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    z-index: 2;
    position: relative;
    background-color: #6a23b5;
    /* color: white; */
    margin-left: 250px;
    padding: 1px 30px;
    min-height: 100vh;
    padding-bottom: 50px;
}

label {
    font-size: 24px;
    color: white;
}

footer {
    margin-left: 250px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
    footer {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

input[type="file"] {
    display: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#file-upload {
    cursor: pointer;
    background-color: #f6edfb;
    padding: 20px 0px;
    margin: 0px 0px 30px 0px;
    z-index: 1;
}

.relative {
    z-index: 3;
    position: relative;
}

.page-top-section {
    position: relative;
    height: 100px;
    background: #6a23b5;
}

.page-top-section .page-info {
    padding-top: 30px;
}

.page-top-section .page-info h2 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    float: none;
}

.not-after::after {
    content: "" !important;
}

.label-id {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}

.sv-card .card-text {
    padding: 20px 10px;
    background: #f5f9f8;
}

.side {
    min-width: 0px;
    padding: 13px 40px !important;
}

.justify-content-around {
    justify-content: space-between;
}

.sv-card .card-img {
    height: 200px;
}
