#discover {
    height: 600px;
    background-image: url("../../../public/img/cta-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    h2 {
        color: white;
        font-size: 44px;
        margin-bottom: 20px;
    }
}
