body {
    background: ghostwhite;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game .row div {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#game span {
    display: inline-block;
    margin-top: 25px;
    font-size: 28px;
}
