.row {
    display: flex;
    width: 100%;
}

.tier {
    background-color: aquamarine;
    text-align: center;
    margin: 20px;
    flex-grow: 1;
    padding: 50px 0;
    font-size: 40px;
    width: 100%;
}

@media all and (max-width: 914px) {
    .row {
        flex-flow: wrap;
    }

    .tier {
        flex-basis: 10%;
    }
}

@media all and (max-width: 616px) {
    .row {
        flex-flow: wrap;
    }

    .tier {
        flex: 33%;
    }
}