@import "./variables";
@import "./components";
@import "./pages/header";

body {
    font-family: $font-1;
}

.ff-1 {
    font-family: $font-1;
}

.ff-2 {
    font-family: $font-2;
}

.ff-3 {
    font-family: $font-3;
}
