body {
    font-family: 'Lato-Light', Fallback, sans-serif;
    margin: 0px;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf')  format('truetype');
}

a {
    text-decoration: none;
    color: white;
}

/* section newsletter */
#newsletter {
    background-color: #9b009d;
    position: relative;
    overflow: hidden;
    height: 50px;
}

#newsletter > .logo {
    float: left;
    position: relative;
    height: 100%;
}

#champs_newsletter {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.logo img[alt=""] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

#champs_newsletter span {
    color: white;
}

input {
    border-radius: 6px;
    padding: 5px;
    text-transform: uppercase;
    border: none;
}

button {
    background-color: #0bd176;
    color: white;
    border-radius: 6px;
    padding: 5px;
    text-transform: uppercase;
    border: none;
}

/* navbar */
nav {
    display: flex;
    height: 100px;
    border-bottom: solid 1px #ededed;
}

nav > .logo {
    padding-left: 130px;
    padding-right: 130px;
    position: relative;
    height:100%;
    border-right: solid 1px #ededed;
}

img[alt="mon_image"] {
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.menu {
    width:100%;
}

.menu > ul {
    display: flex;
    /* ingored by margin-left: auto of .menu > ul > li:last-child ! */
    justify-content: center; 
    height: 100%;
    margin: 0;
    margin-left: 60px;
    padding: 0;
}

.menu > ul > li {
    margin-right:auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.menu > ul > li > a {
    font-family: 'Montserrat-Bold', Fallback, sans-serif;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 16px;
    color: #333333;
    letter-spacing: 0.0625em;
    text-decoration: none;
    transition: border-color 0.3s ease, color 0.3s ease;
    border-bottom: solid 5px rgba(0, 0, 0, 0);
    line-height: 20px;
}

.menu > ul > li > a:hover {
    border-bottom: 5px solid black;
}

.menu > ul > li:last-child{
    border-left: solid 1px #ededed;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
}

/* contenu */
#contenu {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

#contenu ul li {
    list-style: none;
    margin-bottom: 15px;
}

#contenu ul li:before {
    content: "\2022";
    color: #9b009d;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

h1 {
    font-family: 'Lato-Light', Fallback, sans-serif;
    font-size: 64px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 100px;
    position:relative;
}

h1:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 30px auto;
    width: 80px;
    height: 3px;
    background: #9b009d;
}

h2 {
    margin-top: 60px;
    font-family: 'Lato-Light', Fallback, sans-serif;
    font-weight: 200;
    font-size: 36px;
}

/* footer */

footer {
    background-color: #363636;
    text-align: center;
}

#section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 1px solid #3c3c3c;
}

#section div {
    padding: 25px;
}

#section div span {
    text-transform: uppercase;
}

section + img[alt=""] {
    margin-top: 50px;
    width: 150px;
    margin-bottom: 50px;
}

img + p {
    margin-bottom: 0;
    padding-bottom: 20px;
    color: white;
}

div a i {
    width: 16px;
    margin-right: 10px;
    padding: 10px;
    border: solid 2px white;
    border-radius: 100%;
}

/* media queries */
@media (max-width: 1200px) {
    .menu {
        display: none;
    }


    nav > .logo {
        border-right: none;
    }

    #champs_newsletter span {
        display: none;
    }

    #champs_newsletter {
        width: 300px;
        text-align: center;
    }

    input {
        width: 170px;
    }

    #section div span {
        display: none;
    }

    h1 {
        font-size: 52px;
    }

    .logo img[alt=""] {
        display: none;
    }
}

@media (max-width: 280px) {
    h1 {
        font-size: 44px;
    }

    #section div {
        padding: 10px;
    }
}